/* Styles for the header */
header {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

/* Style for the muted text */
header .muted-text {
  color: gray;
}

/* Styles for the h1 element */
header h1 {
  margin: 0;
  font-size: 1.5em; /* Default font size */
}

/* Ensure the header title is aligned to the flex start */
.header-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
}

/* Style for the header content */
.header-content {
  display: flex;
  align-items: center;
  font-size: 12px;

}

/* Style for the profile picture */
.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Style for the username span */
header .username {
  font-size: 16px;
  margin-right: 5px;
}

/* Style for user info (position and address) */
.header-content .user-info {
  font-size: 14px;
  margin-right: 5px;
  color: #ddd; /* Light gray color */
}

/* Style for the logout button */
header button {
  background-color: #63f85e;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 40px;
}

header button:hover {
  background-color: #45cb36;
}

/* Styles for the confirmation message */
.confirmation-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 2000;
}

.confirmation-message-buttons {
  margin-top: 20px;
  text-align: center;
}

.confirmation-message button {
  margin: 0 10px;
  padding: 8px 20px;
  cursor: pointer;
}

/* Style for the "Yes" button */
.confirmation-message button.yes-button {
  background-color: #63f85e;
  color: white;
}

/* Style for the "No" button */
.confirmation-message button.no-button {
  background-color: #f44336;
  color: white;
}

/* Responsive styles */
@media (max-width: 1200px) {
  header h1 {
    font-size: 1.3em;
  }

  header .username {
    font-size: 15px;
  }

  .header-content .user-info {
    font-size: 13px;
  }

  header button {
    padding: 8px;
    margin-right: 30px;
  }
}

@media (max-width: 768px) {
  header h1 {
    font-size: 1.2em;
  }

  header .username {
    font-size: 14px;
  }

  .header-content .user-info {
    font-size: 12px;
  }

  header button {
    padding: 7px;
    margin-right: 20px;
  }

  .profile-pic {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1em;
  }

  header .username {
    font-size: 12px;
  }

  .header-content .user-info {
    font-size: 10px;
  }

  header button {
    padding: 5px;
    margin-right: 10px;
  }

  .profile-pic {
    width: 30px;
    height: 30px;
  }
}
